body {
  margin: 0;
}
.menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  margin: 0;
  background-color: slategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  /* display:none; */
  /* padding: 25% 0; */
  /* padding-bottom: 125px; */
}
.menu p {
  background-color: lightslategrey;
  border-radius: 10px;
  max-width: 500px;
  margin: 5% 10%;
  padding: 1em;
}
.menu h1 {
  color: lavender;
  margin-bottom: -10px;
}
.menu i {
  font-weight: bold;
  color: midnightblue;
}
.menu button {
  height: 75px;
  width: 150px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 2em;
  background-color: mediumseagreen
}
.fade {
  transition: 2s ease;
  opacity: 0;
  /* display: none; */
  /* height: 0; */
  /* opacity: 0; */
}
nav {
  margin: 0;
  background-color: lightskyblue;
  height: 200px;
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.3) 21%,
      rgba(255, 255, 255, 0.3) 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        rgba(255, 255, 255, 0.3) 21%,
        rgba(255, 255, 255, 0.3) 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-color: slategray;
  /* transform: scaleY(0.6); */
  background-size: 75px 100px;
}
.table {
  margin: 0;
  position: absolute;
  bottom: 0;
  top: 125px;
  background-color: peru;
  border-top: 5px solid sienna;
  overflow: hidden;
  width: 100%;
}
.startButton {
  background-color: lightgreen;
}
.resetButton {
  background-color: salmon;
}
.pushButton {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin: -15px;
  outline: none;
  height: 25px;
  width: 75px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}
.pushButton:active {
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}
.pushButton:hover {
  cursor: pointer;
}
.clock {
  height: 100px;
  width: 240px;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  border-radius: 15px;
  background-color: grey;
  border-bottom: 5px solid dimgray;
  border-left: 5px solid dimgray;
  border-right: 5px solid dimgray;
}
.screen {
  background-color: mediumseagreen;
  text-align: center;
  font-family: DSEG7-Classic, sans-serif;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 65px;
  margin: 20px auto;
  color: white;
}
.screen:hover {
  cursor: default;
}
.clockBack {
  background-color: dimgray;
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}
.deck {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 15% auto;
  transform: none;
  transition: padding-top 2s;
}

.card {
  width: 110px;
  height: 170px;
  margin: -30px -20px;
  transform: scale(0.6);
}
.card:hover {
  cursor: pointer;
}
.front {
  position: absolute;
  width: 100px;
  height: 150px;
  background-color: lightblue;
  border-radius: 10px;
  border: 8px solid cornflowerblue;
  /* transition: 0.5s ease; */
  display: flex;
  color: royalblue;
  font-family: sans-serif;
  font-size: 7em;
  font-weight: bold;
  margin: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px grey;
  transition: transform 0.5s ease;
  transform: rotateY(90deg);
}
.front:hover,
.back:hover {
  z-index: 10;
  /* box-shadow: 2px 2px 10px black; */
}
.back {
  position: absolute;
  width: 100px;
  height: 150px;
  color: cornflowerblue;
  font-family: sans-serif;
  font-size: 7em;
  font-weight: bold;
  margin: 0;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
  border: 8px solid cornflowerblue;
  transition: transform 0.5s ease;
  transform: rotateY(-90deg);
}

.face-down {
  transition: transform 0.5s ease;
  transform: rotateY(-90deg);
}

.face-up {
  transition: transform 0.5s ease 0.5s;
  transform: rotateY(0deg);
}
div.resetDeck {
  padding-top: 100vh;
  width: 90%;
}

@media only screen and (min-width: 600px) {
  .deck {
    margin: auto;
    width: 85%;
    transform: perspective(500px) rotateX(30deg);
    padding-top: 10px;
  }
  div.resetDeck {
    transform: perspective(500px) rotateX(30deg);
    width: 85%;
  }
  .menu {
    margin: 0;
  }
  nav {
    margin: 0;
  }
  .table {
    margin: 0;
    position: absolute;
    bottom: 0;
    top: 200px;
  }
  .card {
    transform: none;
    margin: 2% 5px;
  }
  .clock {
    height: 100px;
    width: 240px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }
  .clockBack {
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
  }
}
