body {
  margin: 0;
}
nav {
  margin: 0;
  background-color: lightskyblue;
  height: 200px;
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.3) 21%,
      rgba(255, 255, 255, 0.3) 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        rgba(255, 255, 255, 0.3) 21%,
        rgba(255, 255, 255, 0.3) 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-color: slategray;
  background-size: 75px 100px;
}
.table {
  margin: 0;
  position: absolute;
  bottom: 0;
  top: 200px;
  background-color: peru;
  width: 100%;
}
.start {
  background-color: lightgreen;
}
.reset {
  background-color: salmon;
}
.pushButton {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin: -15px;
  outline: none;
  height: 25px;
  width: 75px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}
.pushButton:active {
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}
.pushButton:hover {
  cursor: pointer;
}
.clock {
  height: 100px;
  width: 250px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  border-radius: 10px;
  /* box-shadow: 25px lightslategray; */
  background-color: grey;
}
.screen {
  background-color: mediumseagreen;
  text-align: center;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 65px;
  margin: 20px auto;
  color: white;
}
.screen:hover {
  cursor: default;
}
.clockBack {
  background-color: dimgray;
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
.deck {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 75px auto;
  /* transform: skew(10deg, 10deg); */
  /* border: 2px solid black; */
}

.card {
  width: 110px;
  height: 170px;
}
.card:hover {
  cursor: pointer;
}
.front {
  position: absolute;
  width: 100px;
  height: 150px;
  background-color: lightblue;
  border-radius: 10px;
  border: 8px solid cornflowerblue;
  transition: 0.5s ease;
  display: flex;

  color: cornflowerblue;
  font-family: sans-serif;
  font-size: 7em;
  font-weight: bold;
  margin: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px grey;
  transition: transform 0.5s ease;
  transform: rotateY(90deg);
}
.front:hover,
.back:hover {
  z-index: 10;
  /* box-shadow: 2px 2px 10px black; */
}
.back {
  position: absolute;
  width: 100px;
  height: 150px;

  color: cornflowerblue;
  font-family: sans-serif;
  font-size: 7em;
  font-weight: bold;
  margin: 0;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
  border: 8px solid cornflowerblue;
  transition: transform 0.5s ease;
  transform: rotateY(-90deg);
}

.face-down {
  transition: transform 0.5s ease;
  transform: rotateY(-90deg);
}

.face-up {
  transition: transform 0.5s ease 0.5s;
  transform: rotateY(0deg);
}
